# Usual
PORT=our_port_of_choice
MONGO_URI=our_mongo_uri
FRONTEND_URL=........

# Inngest
INNGEST_EVENT_KEY=our_inngest_event_key
INNGEST_SIGNING_KEY=our_inngest_signing_key

# Clerk
CLERK_PUBLISHABLE_KEY= ...
CLERK_SECRET_KEY=...

# ImageKit
IMAGEKIT_PUBLIC_KEY= '...'
IMAGEKIT_PRIVATE_KEY= '...'
IMAGEKIT_URL_ENDPOINT= '...'

# NodeMailer & Brevo
SENDER_EMAIL=...
SMTP_USER=...
SMTP_PASS=...

-----------------------------------------------------

